trigger:
  batch: true
  branches:
    include:
      - "*"
  paths:
    include:
      - "Tools/*"
    exclude:
      - "*"

pr: none

pool:
  vmImage: "Ubuntu-16.04"

steps:
  - script: docker run -t -v `pwd`/Tools:/Tools garethr/kubeval -d "Tools/kured/*,Tools/descheduler/*"
    displayName: Validate manifests

  - task: CopyFiles@2
    displayName: "Copy Files to: $(build.artifactstagingdirectory)"
    inputs:
      Contents: |
        Tools/*
      TargetFolder: "$(build.artifactstagingdirectory)/publish"
      OverWrite: true

  - task: PublishBuildArtifacts@1
    displayName: "Publish Artifact"
    inputs:
      PathtoPublish: "$(build.artifactstagingdirectory)/publish"
